* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.topNav {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100dvw;
  max-width: 100dvw;
  min-height: 50px;
  max-height: 50px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.topNavLeftItemsContainer {
  display: flex;
  align-items: center;
}
.topNavTitle {
  display: flex;
}
.topNavLogo {
  margin: 5px;
}
.topNavProjectName {
  margin: 5px;
}
.topNavProjectNameText {
  font-size: 20px;
  font-weight: bold;
}